@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montez&display=swap");

@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-montez {
  font-family: "Montez", cursive;
}
